.titulo-cinza{
    color: #6A6A6A;
}

.titulo-tamanho{
    font-size: 1.5em;
}

.imagem-logo-tamanho{
    height: 7em;
}

.azul-procura-fundo{
    background-color: hsl(189, 43%, 56%);
}

.azul-procura-lupa{
    color: white;
}

.preto-itens.texto{
    color: hsl(0, 0%, 42%);
    font-size: 1.1em;
    font-weight: 700;
}

.preto-itens.icone{
    color: hsl(225, 2%, 57%);
}

.preto-itens-busca{
    color: hsl(0, 0%, 36%);
}

/* Cinza do texto segurador-de-lugar (placeholder) */
.navegacao ::placeholder { /* Most modern browsers support this now. */
    color:     #D1D1D1;
}

.sub-titulo-tamanho{
    font-size: 1.3em;
}
/* .icone-aporte.fs-1 */
.icone-aporte{
    /* src: url("https://www.figma.com/file/n8Qv9HHSh3Jtq5QeKEJFTz/H72---Design-System?type=design&node-id=2-5758&mode=design&t=aDPf9KNXk3dLYRjt-4"); */
    -webkit-mask-image: url('assets/icones/aporte-no-ppi.svg');
    mask-image: url('assets/icones/aporte-no-ppi.svg');
    /* -webkit-mask-image: url('../assets/icones/Warning--alt--filled.svg'); */
    /* mask-image: url('../assets/icones/Warning--alt--filled.svg'); */
}
.stiky {
    position: sticky;
    bottom: 0;
    border: 1px solid red
};
